@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono);

html,body{
margin:0;padding:0
}
body{
font: 76% Nova Mono;
color: #F8F8FF
}
h1{
font-size:44px;
}
p{
margin:0 5px 9px
}
a{
display:block;color: #981793;padding:10px
}
div#header h1{
height:80px;
line-height:80px;
margin:0;
padding-left:10px;
text-align:center;
font-family: 'Lobster';
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div#content{

} 
 
div#content p
{
line-height:1.4;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}
div#navigation{

background:#B9CAFF
}
div#extra{
background:#FF8539
}
div#footer{
background: #333;color: #FFF
}
div#footer p{
margin:0;padding:5px 10px
}
div#footer a{
display:inline;padding:0;color: #C6D5FD
}

div#wrapper{
float:left;width:100
%}
div#content{
margin: 0 25%
}
div#navigation{
float:left;width:25%;margin-left:-25%;text-align:center;
}
div#social{
text-align:center;
}
div#extra{
float:left;width:23%;margin-left:-100%;text-align:center;
}
div#footer{
clear:left;width:100%
}

.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('karan.webp') ;
 background-size: cover;
 
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius:100px;
 -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  
  -webkit-animation: fadein 5s ;
   -webkit-animation-iteration-count: 1; 
      -moz-animation: fadein 5s ;
      -moz-animation-iteration-count: 1; 
           animation: fadein 5s ;
           animation-iteration-count: 1; 
}

#inner {
	
    margin: 0 auto;
}
@-webkit-keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}
@-moz-keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}
keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}

img{
  /* Set rules to fill background */
  min-height: 100%;
 
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
	 min-width: 1024px;
  }
}


body:after{
    display:none;
    content: url(bg.jpg) url(avatar.jpg);
}