.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('avatar.jpg') ;
 background-size: cover;
 
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius:100px;
 -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  
  -webkit-animation: fadein 5s ;
   -webkit-animation-iteration-count: 1; 
      -moz-animation: fadein 5s ;
      -moz-animation-iteration-count: 1; 
           animation: fadein 5s ;
           animation-iteration-count: 1; 
}

#inner {
	
    margin: 0 auto;
}
@-webkit-keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}
@-moz-keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}
keyframes fadein {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}

img{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}